<p>select date</p>
<input type="date" [(ngModel)]="selectedDate">
<h1 *ngIf="matchingMeals().length==0">No meals on this day.</h1>
<div *ngFor="let m of matchingMeals(); index as i">
    <h3>{{m.recipe.recipeTitle}}</h3>
    <h4>{{m.recipe.dishTypes}}</h4>
    <p>calories: {{m.recipe.totalCalories}}</p>
    <img src= {{m.recipe.image}}/>
    <p *ngIf="m.recipe.ingredients!=null">{{stringConverterIngredients(m.recipe.ingredients)}}</p>
    <button *ngIf="m.recipe.ingredients!=null" (click)="toggleIngredients(i)">see ingredients</button>
    <div *ngIf="displaysIngredients[i]">
        <div *ngFor="let ing of ingredientsArray">
            <p>{{ing}}</p>
        </div>
    </div>
    <p *ngIf="m.recipe.instructions!=null">{{stringConverterInstructions(m.recipe.instructions)}}</p>
    <p *ngIf="m.recipe.instructions==null">No instructions available.  See {{m.recipe.sourceUrl}}</p>
    <button *ngIf="m.recipe.instructions!=null" (click)="toggleInstructions(i)">see instructions</button>
    <div *ngIf="displaysInstructions[i]">
        <div *ngFor="let inst of instructionsArray; index as p">
            <p>{{p+1}}. {{inst}}</p>
        </div>
    </div>
<button (click)="deleteMealPlan(m.id)"> Delete Meal</button>
</div>


