<!--daily meals-->
<h4 class="text-center">Select Date: <input type="date" [(ngModel)]="selectedDate"></h4>
<br>
<!-- <input type="date" [(ngModel)]="selectedDate"> -->
<!-- <h1 *ngIf="matchingMeals().length==0">No meals on this day.</h1> -->

<!--grid cards-->
<div class="row">
  <div *ngFor="let m of meals; index as i" class="row col-sm-6 mb-4">
      <div class="col">
          <div class="card">
              <img src={{m.image}} class="card-img-top">
              <div class="card-body">
                  <h1 class="card-title" class="text-center">{{m.recipeTitle}}</h1>
                  <h4 class="card-text" class="text-center">Calories: {{m.totalCalories}}</h4>
                  <!-- <h6>{{m.dishTypes}}</h6> -->
                  <p *ngIf="m.ingredients!=null">{{stringConverterIngredients(m.ingredients)}}</p>
            <strong class="btn btn-outline-success" *ngIf="m.ingredients!=null" (click)="toggleIngredients(i)">See Ingredients</strong>
            <!-- <button *ngIf="m.ingredients!=null" (click)="toggleIngredients(i)">see ingredients</button> -->
            <div *ngIf="displaysIngredients[i]" class="text-center">
                <div *ngFor="let ing of ingredientsArray">
                    <p>{{ing}}</p>
                </div>
            </div>
            <p *ngIf="m.instructions!=null">{{stringConverterInstructions(m.instructions)}}</p>
            <p *ngIf="m.instructions==null">No instructions available.  See {{m.sourceUrl}}</p>
            <strong *ngIf="m.instructions!=null" class="btn btn-outline-dark" (click)="toggleInstructions(i)">See Instructions</strong>
            <div *ngIf="displaysInstructions[i]">
                <div *ngFor="let inst of instructionsArray; index as p">
                    <p>{{p+1}}. {{inst}}</p>
                </div>
            </div>
            <br><br>
              <strong class="btn btn-outline-danger" (click)="deleteMealPlan(m.id)">Remove Meal</strong>
              </div>
          </div>
        </div>
      </div>
  </div>


<!-- <div *ngFor="let m of matchingMeals(); index as i">
    <h3>{{m.recipe.recipeTitle}}</h3>
    <h4>{{m.recipe.dishTypes}}</h4>
    <p>calories: {{m.recipe.totalCalories}}</p>
    <img src= {{m.recipe.image}}/>
    <p *ngIf="m.recipe.ingredients!=null">{{stringConverterIngredients(m.recipe.ingredients)}}</p>
    <button *ngIf="m.recipe.ingredients!=null" (click)="toggleIngredients(i)">see ingredients</button>
    <div *ngIf="displaysIngredients[i]">
        <div *ngFor="let ing of ingredientsArray">
            <p>{{ing}}</p>
        </div>
    </div>
    <p *ngIf="m.recipe.instructions!=null">{{stringConverterInstructions(m.recipe.instructions)}}</p>
    <p *ngIf="m.recipe.instructions==null">No instructions available.  See {{m.recipe.sourceUrl}}</p>
    <button *ngIf="m.recipe.instructions!=null" (click)="toggleInstructions(i)">see instructions</button>
    <div *ngIf="displaysInstructions[i]">
        <div *ngFor="let inst of instructionsArray; index as p">
            <p>{{p+1}}. {{inst}}</p>
        </div>
    </div> -->
    <!--not working-->
<!-- <button (click)="deleteMealPlan(m.id)"> Delete Meal</button>
</div> -->


<!-- <div class="row">
  <div *ngFor="let m of meals; index as i" class="row col-sm-4 mb-4">
      <div class="col">
          <div class="card">
            <h3>{{m.recipeTitle}}</h3>
            <h4>{{m.dishTypes}}</h4>
            <p>calories: {{m.totalCalories}}</p>
            <img src= {{m.image}}/>
            <p *ngIf="m.ingredients!=null">{{stringConverterIngredients(m.ingredients)}}</p>
            <button *ngIf="m.ingredients!=null" (click)="toggleIngredients(i)">see ingredients</button>
            <div *ngIf="displaysIngredients[i]">
                <div *ngFor="let ing of ingredientsArray">
                    <p>{{ing}}</p>
                </div>
            </div>
            <p *ngIf="m.instructions!=null">{{stringConverterInstructions(m.instructions)}}</p>
            <p *ngIf="m.instructions==null">No instructions available.  See {{m.sourceUrl}}</p>
            <button *ngIf="m.instructions!=null" (click)="toggleInstructions(i)">see instructions</button>
            <div *ngIf="displaysInstructions[i]">
                <div *ngFor="let inst of instructionsArray; index as p">
                    <p>{{p+1}}. {{inst}}</p>
                </div>
            </div>
          </div>
      </div>
  </div>
</div> -->

   