<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Meal Match</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/mealplan']"
              >Meal Plan</a
            >
          </li>

          <!-- Donation parody -->
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="loggedIn">
            <a class="nav-link text-dark" [routerLink]="['/counter']"
              >Donate</a
            >
          </li>
          <!-- Meals link -->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/meals']"
              >Meals</a
            >
          </li>
          <!-- Favorites link -->
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="loggedIn">
            <a class="nav-link text-dark" [routerLink]="['/favorites']"
              >Favorites</a
            >
          </li>
          <!-- User icon link to profile page -->
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="loggedIn">
            <a class="nav-link text-dark" [routerLink]="['/profile']"
              ><img src="{{ user.photoUrl }}"/></a
            >
          </li>
          <!-- Google sign out -->
              <li class="nav-item">
                <asl-google-signin-button *ngIf="!loggedIn" type='icon' size='medium'></asl-google-signin-button>
                <p *ngIf="loggedIn">{{ user.name }}</p>
                <button class="btn btn-outline-dark" *ngIf="loggedIn"  (click)="signOut()">Sign Out
                </button>
            </li> 
             
          
        </ul>
      </div>
    </div>
  </nav>
</header>
