<!-- search meal functionality -->
<div (keydown.enter)="searchInput()">

    <input type="text" [(ngModel)]="search" />
<button (click)="searchInput()">Search Meals</button>

<!-- displays results -->
<div class="row">
    <!-- <div *ngIf="showSearchResults"></div> -->
        <div *ngFor="let p of result.results; index as i" class="row col-sm-4 mb-4">
            <div class="col">
                <div class="card">
                    <img src="{{p.image}}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">Minutes to cook: {{p.readyInMinutes}}</p>
                        <p>Servings: {{p.servings}}</p>
                        <p>{{p.nutrition.nutrients[0].name}}: {{p.nutrition.nutrients[0].amount}}</p>
                        <p>{{p.nutrition.nutrients[0].name}}: {{p.nutrition.nutrients[0].amount}}</p>
                        <ul *ngFor="let d of p.dishTypes">
                            <li>{{d}}</li>
                        </ul>
    <!-- allows user to add meal to favorite list  -->
                    <div *ngIf="user!=null && !isFavorited[i]">
                    <button class="btn btn-outline-info" (click)="addRecipe(p)" (click)="toggleFavorite(i)">👍Add to Favorites</button> 
                </div>
            </div>
        </div>
    </div>
</div>
</div>
