<!--orginal list-->
<!-- displays favorite recipe list -->
<!-- <div class="row">
    <div *ngFor="let r of Recipes; index as i" class="col-sm-4 mb-4">
        <h2>{{r.recipeTitle}}</h2>
        <img src="https://spoonacular.com/recipeImages/{{r.recipeId}}-312x150.jpg" />
        <p>Ready in Minutes: {{r.readyInMinutes}}</p>
        <p>Servings: {{r.servings}}</p>
        <p>Your Goal: {{userProfile.goal}}</p>
        <p>Goal: {{ mealQuota(r.totalCalories) }}</p> -->

        <!-- toggles nutrition details -->
        <!-- <button (click)="toggleDisplayNutrients(i)" (click)="getDetails(r.id)">Nutrition Details</button> -->
        <!-- <app-nutritiondetail *ngIf="displayNutrients[i]"[Nutrients]="r.id"></app-nutritiondetail> -->

        <!-- removes favorite -->
        <!-- <button (click)="deleteFavorite(r.id)">Remove from Favorites</button>
        <button (click)="toggleDate(i)">Add to Meal Plan</button>
        <div *ngIf="displayDate[i]">
            <p>select date</p>
            <input type="date" [(ngModel)]="date">
            <button (click)="addMealPlan(r.id)">Confirm</button>
        </div>
    </div>               
</div> -->

<!------------------------------------------------------------------------------------>


<!--grid card attempt-->
<div class="row">
    <!-- <div *ngFor="let r of Recipes; index as i" class="row row-cols-1 row-cols-md-2 g-4"> -->
    <div *ngFor="let r of Recipes; index as i" class="row col-sm-4 mb-4">
        <div class="col">
            <div class="card">
                <img src="https://spoonacular.com/recipeImages/{{r.recipeId}}-312x150.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">{{r.recipeTitle}}</h4>
                    <p class="card-text"><b>Cook Time:</b> {{r.readyInMinutes}} Minutes</p>
                    <p><b>Servings:</b> {{r.servings}}</p>
                    <p><b>Goal:</b> {{userProfile.goal}}</p>
                    <p><b>Plan:</b> {{ mealQuota(r.totalCalories) }}</p>
                    <button (click)="deleteFavorite(r.id)">Remove Favorite</button>
                </div>
            </div>
        </div>
    </div>
</div>
