
<div class="row">
    <!-- <div *ngFor="let r of Recipes; index as i" class="row row-cols-1 row-cols-md-2 g-4"> -->
    <div *ngFor="let r of Recipes; index as i" class="row col-sm-4 mb-4">
        <div class="col">
            <div class="card">
                <img src="https://spoonacular.com/recipeImages/{{r.recipeId}}-312x150.jpg" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">{{r.recipeTitle}}</h4>
                    <p class="card-text"><b>Cook Time:</b> {{r.readyInMinutes}} Minutes</p>
                    <p><b>Servings:</b> {{r.servings}}</p>
                    <p><b>Goal:</b> {{userProfile.goal}}</p>
                    <p><b>Plan:</b> {{ mealQuota(r.totalCalories) }}</p>
                    <div *ngIf="userProfile.goal">
                        <button (click)="toggleDate(i)">Add to Meal Plan</button>
                        <div *ngIf="displayDate[i]">
                            <p>select date</p>
                            <input type="date" [(ngModel)]="date">
                            <button (click)="addMealPlan(r.id)" (click)="displayDate[i]=false">Confirm</button>
                        </div>
                    <button (click)="deleteFavorite(r.id)">Remove Favorite</button>
                </div>
            </div>
        </div>
    </div>
</div>
